@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    background: radial-gradient(ellipse at center, #b4b4b4, #969696);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: gradientShift 5s linear infinite;
    background-size: 200% 200%;
}

@keyframes gradientShift {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: -100% -100%;
    }
}

::selection {
    background-color: #d3ded7;
    color: #272727;
    text-shadow: none;
}

.container {
    user-select: none;
    color: #dadada;
    font-family: 'Roboto', sans-serif;
    background-color: #272727;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.center-content {
    text-align: center;
}

.container .hello {
    font-size: 15px;
    font-weight: 300;
    padding-top: 10px;
}

.container .main {
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}

.container .about {
    font-size: 15px;
    font-weight: 200;
    padding-top: 10px;
    text-align: center;
}

.footer {
    user-select: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #dadada;
    background-color: #272727;
    padding: 15px;
    border-radius: 15px;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.footer a {
    transition: color 0.3s ease;

}

.footer:hover a {
    color: #272727;
}

.footer:hover {
    transform: scale(1.05) translate(-5px, 0px);
    color: #272727;
    background-color: #c5c5c5;
}
